.stylish-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.img-mentor-promotion {
    width:200px !important;
    height:200px !important;
    border-radius:50%;
    display:block;
    background-position-y:25% 
}
