.rlmain {
	min-height: 1200px;
	background-image:    url(https://s3.eu-central-1.amazonaws.com/siyuanrainbow/img/com/rl_bg.jpg);
	  /* Location of the image */
/*	background-image: url(images/background-photo.jpg);*/

	/* Image is centered vertically and horizontally at all times */
	background-position: center center;

	/* Image doesn't repeat */
	background-repeat: no-repeat;

	/* Makes the image fixed in the viewport so that it doesn't move when 
	 the content height is greater than the image height */
	background-attachment: fixed;

	/* This is what makes the background image rescale based on its container's size */
	background-size: cover;

	/* Pick a solid background color that will be displayed while the background image is loading */
	background-color:#464646;

	/* SHORTHAND CSS NOTATION
	* background: url(background-photo.jpg) center center cover no-repeat fixed;
	*/
}

.logoCenterImg{
	width: 150px;
	height: 188px;
    display: block;
    margin: 50px auto 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
/*  background: rgba(19, 35, 47, 0.9);*/
  padding: 40px;
  padding-top: 0;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 4px;
/*  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
/*  background: rgba(160, 179, 176, 0.25);*/
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li:hover{
  background: #179b77;
  color: #ffffff;
/*  display: block;*/
}

.tab-group .active a span{
	color: #ffffff;
	border-bottom: 1px solid #000;
	border-color: #ffffff;
	border-width: 2px;
	padding-bottom: 5px;
}

/*.tab-content > div:last-child {
  display: none;
}*/

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

textarea, .field-wrap > input {
	display: block;
	width: 100%;
	height: 50px;
}

input, textarea {
  font-size: 22px;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 2px solid #a0b3b0;
  color: #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border-color: #ffffff;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  opacity: 0.6;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 50px;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #12CAC2;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: 10px;
  text-align: center;
}

div.checkbox {
	margin: -35px 0 25px;
}

input.checkbox {
	width: 13px;
  height: 13px;
  padding: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

label.checkbox {
	margin-left: 10px;
	color: #ffffff;
	display: block;
  	padding-left: 15px;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	font-size: 15px;
    color: #ffffff;
    margin-left: 10px;
/*    opacity:  0.6;*/
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 15px;
   color:    #ffffff;
   opacity:  0.6;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 15px;
   color:    #ffffff;
   opacity:  0.6;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 15px;
   color:    #ffffff;
   opacity:  0.6;
}
input::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 15px;
   color:    #ffffff;
   opacity:  0.6;
}
div.error {
	margin-bottom: 0px
}

div.error p{
	color: #ffffff;
	text-decoration: blink;
	font-size: 15px;
/*	margin-bottom: 35px;*/
}

div.notice {
	min-height: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 20px 0 0;
    text-decoration: blink;
}
