<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RainbowEDU</title>
    <meta charset="UTF-8"/>
    <div th:fragment="mentorindex-css">
        <!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    	<!-- Optional theme -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    	<!-- Latest compiled and minified JavaScript -->
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/mentor/mentorindex.css}"
          href="../../css/mentor/mentorindex.css" />
    </div>
</head>
<body>

<div th:fragment="mentorindex" class="container">
    <div class="page-header">
        <h1 class="text-center">我们的导师</h1>
    </div>

<!--     <div class="container">
        <div class="panel panel-default panel-horizontal" th:each="mentor : ${@allMentors}">
            <div class="panel-heading">
                <img th:src="${mentor.getImageUrlWithHost()}" alt="Texto Alternativo" class="img-circle img-thumbnail"/>
                <div>
                    <h3>Carnegie Mellon University  Civil Enginerring"</h3>
                </div>
            </div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque saepe iusto nulla molestias quis esse incidunt veritatis exercitationem dolore officiis. Nam quos iusto officiis ullam itaque voluptatum fuga assumenda culpa!</div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div> -->
    <div class="container py-3">
        <div class="card" th:each="mentor : ${@allMentors}">
            <div class="row">
                <div class="col-md-12 mentorbox">
                    <div class="col-md-3">
                        <img th:src="${mentor.getImageUrlWithHost()}" class="square"/>
                    </div>
                    <div class="col-md-9 card-block px-3 row">
                        <div class="col-md-9">
                            <h3 class="card-title" th:text="${mentor.getUsername()}"/>
                        </div>
                        <div class="card-review">
      <!--                       <div class=""> -->
                                非常好
<!--                             </div> -->
                        </div>

                        <div class="col-md-12 mentor-service">
                            <button class="btn btn-sm">文书修改</button>
                            <button class="btn btn-sm">选校定位</button>
                            <button class="btn btn-sm">深访服务</button>
                            <button class="btn btn-sm">求职规划</button>
                            <div th:each="degree : ${mentor.getMentorDegrees()}" class="degree-line">
                                <i class="fa fa-graduation-cap"></i>
                                <span th:text="${degree.getMajorName('en')}"/>
                                <span> @ </span>
                                <span th:text="${degree.getUniversityName('en')}"/>
                                (
                                <span th:text="${degree.getDegreeTypeName('zh')}"/>
                                )
                            </div>
                        </div>


                    
                    </div>
                    <div class="col-md-7 col-md-offset-3 short-desc"><p><span class="glyphicon glyphicon-certificate icon-certificate"/>北美部咨询顾问，拥有强大的学术能力，丰富的职场经验和留学经历。</p></div>

                    <a th:href="'/mentor/' + ${mentor.getMentorId()}" class="readmore btn">查看详细信息</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>