<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="carousel-css">

        <link rel="stylesheet" th:href="@{/css/index/carousel.css}"
              href="../../css/index/carousel.css" />
    </div>
</head>
<body>
<div th:fragment="carousel">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item" th:each="content : ${@carouselContents}" th:classappend="${content.get('active')} == 1 ? active">
<!-- 				<img class="first-slide" th:src="${content.get('img')}"/> -->
				<div class="container">
					<div class="carousel-caption">
						<h1 th:text="${content.get('title')}"/>
						<h5 th:text="${content.get('intro')}"/>
						<p><a class="btn btn-lg btn-primary tranparent-btn" href="#" role="button" th:text="${content.get('link')}"/></p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
	</div>
</div>
</body>
</html>