<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="mentorPromotion-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/index/mentorPromotion.css}"
              href="../../css/index/mentorPromotion.css" />
    </div>
</head>
<body>
<div th:fragment="mentorPromotion" class="container">
    <div class="page-header">
        <h1 class="text-center">我们的导师</h1>
    </div>
    <div class="container">
        <div class="row stylish-panel">
            <div class="col-md-3" th:each="mentor : ${@getPromotedMentors}">
                <div>
                    <img th:src="${mentor.getImageUrlWithHost()}" alt="Texto Alternativo" class="img-mentor-promotion img-circle img-thumbnail"/>
                    <h2 th:text="${mentor.getUsername()}"/>
                    <div>
                        <div th:object="${mentor.getMentorHighestDegree()}">
                            <p th:text="*{getUniversityName('zh')}"/>
                            <p th:text="*{getMajorName('zh')}"/>
                            <p th:text="*{getCollegeName('zh')}"/>
                            <p th:text="*{getDegreeTypeName('zh')}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <a th:href="@{/}" class="btn btn-info btn-lg btn-block" role="button">查看所有导师</a>
    </div>
</div>
<!-- /container -->
</body>
</html>
