<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="mentorRecruit-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/index/mentorRecruit.css}"
              href="../../css/index/mentorRecruit.css" />
    </div>
</head>
<body>
<div th:fragment="mentorRecruit" class="recruit">
    <div class="recruit-container container">
        <h1>招聘</h1>
    </div>
</div>
<!-- /container -->
</body>
</html>