<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="mentorRecruit-css">

        <link rel="stylesheet" th:href="@{/css/index/mentorRecruit.css}"
              href="../../css/index/mentorRecruit.css" />
    </div>
</head>
<body>
<div th:fragment="mentorRecruit" id="mentorRecruit">
    <div class="recruit-container container">
    <!--     <div> -->
            <div class="text col-md-9">
                <h1>We are hiring ! Ready for challenges ?</h1>
                <h4>美国Top100 硕士 博士</h4>
                <h4>TOEFL 100＋ 或 雅思7＋</h4>
                <h4>GPA 3.5+</h4>
                <h4>每周保证5小时工作时间</h4>
            </div>
            <div class="button col-md-3">
                 <a id="joinButton" href="/recruit" class="btn btn-primary btn-lg btn-warning btn-transparent">Join us</a>
            </div>
<!--         <div>
            <img src="https://s3.eu-central-1.amazonaws.com/siyuanrainbow/com/recruitPromotion_2.png"/>
        </div> -->
    </div>
</div>
<!-- /container -->
</body>
</html>