<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="reviewPromotion-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/index/reviewPromotion.css}"
              href="../../css/index/reviewPromotion.css" />
    </div>
</head>
<body>
<div th:fragment="reviewPromotion" id="reviewPromotionWrapper">
    <div id="reviewPromotion" class="container">
        <div class="page-header">
            <h1 class="text-center">我们的评价</h1>
        </div>
        <ul>  
            <li class="col-md-4">
                <span>
                    <div>
                        <img src="  https://s3.eu-central-1.amazonaws.com/siyuanrainbow/images.jpeg" class="img-circle img-thumbnail"/>
                        <p>老五</p>
                    </div>
                    <p>最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!</p>
                </span>
            </li>
                        <li class="col-md-4">
                <span>
                    <div>
                        <img src="  https://s3.eu-central-1.amazonaws.com/siyuanrainbow/images.jpeg" class="img-circle img-thumbnail"/>
                        <p>老五</p>
                    </div>
                    <p>最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!</p>
                </span>
            </li>
                        <li class="col-md-4">
                <span>
                    <div>
                        <img src="  https://s3.eu-central-1.amazonaws.com/siyuanrainbow/images.jpeg" class="img-circle img-thumbnail"/>
                        <p>老五</p>
                    </div>
                    <p>最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!</p>
                </span>
            </li>
                        <li class="col-md-4">
                <span>
                    <div>
                        <img src="  https://s3.eu-central-1.amazonaws.com/siyuanrainbow/images.jpeg" class="img-circle img-thumbnail"/>
                        <p>老五</p>
                    </div>
                    <p>最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!</p>
                </span>
            </li>
                        <li class="col-md-4">
                <span>
                    <div>
                        <img src="  https://s3.eu-central-1.amazonaws.com/siyuanrainbow/images.jpeg" class="img-circle img-thumbnail"/>
                        <p>老五</p>
                    </div>
                    <p>最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!</p>
                </span>
            </li>
                        <li class="col-md-4">
                <span>
                    <div>
                        <img src="  https://s3.eu-central-1.amazonaws.com/siyuanrainbow/images.jpeg" class="img-circle img-thumbnail"/>
                        <p>老五</p>
                    </div>
                    <p>最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!</p>
                </span>
            </li>
                        <li class="col-md-4">
                <span>
                    <div>
                        <img src="  https://s3.eu-central-1.amazonaws.com/siyuanrainbow/images.jpeg" class="img-circle img-thumbnail"/>
                        <p>老五</p>
                    </div>
                    <p>最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!最近咋没有美女发帖呢？我一定给个头条推荐,recommend!recommend!</p>
                </span>
            </li>
        </ul>
    </div> 
</div>
<!-- /container -->
</body>
</html>