<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="service-css">
<link rel="stylesheet" th:href="@{/css/index/service.css}"
href="../../css/index/service.css" />
</div>
</head>
<body>
<div th:fragment="service" class="container">
<div class="page-header">
<h1 class="text-center">我们的服务</h1>
</div>
    <div class="container">
      <a class="service-link" href="/service">
        <div class="row stylish-panel">
            <div class="col-md-4">
                <div>
                    <h2>留学申请</h2>
                    <p>以坚实的海外学术网络为基础，为客户准确匹配相应申请方向的全程伴随服务团队，并联动规划、文书、高级顾问等专项服务团队，为客户提供细致专业、详实可靠的申请服务。</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                <h2>选校定位</h2>
                <p>导师根据自身留学经验，分析对比不同学校及专业，并根据客户背景及兴趣为其打造最个性化最专业的留学申请建议。</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                <h2>求职规划</h2>
                <p>根据客户学术背景和知识技能提供全面的职业规划建议，早他人一步，为未来在海内外获得高薪优质的工作打下坚实的基础</p>
                </div>
            </div>
        </div>
      </a>  
    </div>
</div>
<!-- /container -->
</body>
</html>
