/*.panel.panel-horizontal {
    display:table;
    width:100%;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.panels.panel.panel-horizontal img {
    width: 100px;
    height: 100px;
}

.panels.panel.panel-horizontal .panel-heading > * {
    display: inline;
}*/

.img-circle {
    width:200px !important;
    height:200px !important;
    border-radius:50%;
    display:block;
    background-position-y:25% 
}

.panel-heading {
    min-height: 50px;
}
.panel-heading > * {
    display: inline;
    line-height: 30px;
}

.panel-body-section {
    margin: 10px;
}

.mentor-service > span {
    background: green;
    color: white;
    padding: 2px;
}