img.square {
    width: 100% !important;
}

div.card {
    margin: 15px auto;
}

.card-title {
    margin: 0 0 10px;
    color: #12c7c7;
}

.img-circle {
    width:200px !important;
    height:200px !important;
    border-radius:50%;
    display:block;
    background-position-y:25% 
}

.mentorbox {
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    padding: 15px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-bottom:3px solid #feba02;
}

.panel-heading {
    min-height: 15px;
}
.panel-heading > * {
    display: inline;
    line-height: 30px;
}

.panel-body-section {
    margin: 10px;
}

.mentor-service > button {
    background: #12c7c7;
    color: white;
    font-size: 10px;
}

a.readmore {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #12c7c7;
    color:#ffffff;
}

.card-review {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    color:#e2aa11;
    font-size: 20px;
    font-style: bold;
}

.degree-line {
    margin-top: 5px;
}

.short-desc {
    position: absolute;
    bottom: 15px;
    left: 0;
    color: #e2aa11;
}