<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RainbowEDU</title>
    <meta charset="UTF-8"/>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/footer :: footer-css"/>
    <div th:replace="index/carousel :: carousel-css"/>
    <div th:replace="index/service :: service-css"/>
    <div th:replace="index/reviewPromotion :: reviewPromotion-css"/>
    <div th:replace="index/mentorPromotion :: mentorPromotion-css"/>
    <div th:replace="index/mentorRecruit :: mentorRecruit-css"/>
    
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div th:replace="index/carousel :: carousel"/>
<div th:replace="index/service :: service"/>
<div th:replace="index/reviewPromotion :: reviewPromotion"/>
<div th:replace="index/mentorPromotion :: mentorPromotion"/>
<div th:replace="index/mentorRecruit :: mentorRecruit"/>


<tr th:each="mentor : ${@allMentors}">
    <h1 th:text="${mentor.getDescription()}"/>
    <h1 th:text="${mentor.getGender()}"/>
    <h1 th:text="${mentor.getImageUrl()}"/>
    <tr th:each="degree : ${mentor.getMentorDegrees()}"><h6 th:text="${degree.getCollege()}"/></tr>
</tr>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

<div class="container">
    <div class="starter-template">
        <h1>Webservice intial</h1>
        <h2>1. Visit <a th:href="@{/admin}">Part 1</a></h2>
        <h2>2. Visit <a th:href="@{/user}">Part 2</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Part 3</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>