<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RainbowEDU</title>
    <meta charset="UTF-8"/>
    <div th:fragment="recruitindex-css">
        <!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    	<!-- Optional theme -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    	<!-- Latest compiled and minified JavaScript -->
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/recruit/recruitindex.css}"
          href="../../css/recruit/recruitindex.css" />
    </div>
</head>
<body>

<div th:fragment="recruitindex" class="recruitindex login-center">
    <div class="container min-height">
    	<div class="row">
    		<div class="col-md-8 riinfo">
    			<h2 class="riinfoheader">思源瑞博导师招聘</h2>
				<h5 class="riinfowhy">每周只要区区几小时，不耽误！
					<br/>
					别再犹豫，赶快先报名成为思源瑞博导师，在家照样轻松赚外快！每月轻松1万+！
				</h5>
				<br/><br/>
				<ul class="rlinfo-detail">
					<li class="riinfocond">学历要求
						<ul>
							<li>
								国内Top20高校本科 + 海外Top100高校硕博
							</li>
							<li>
								海外Top50高校本科
							</li>
						</ul>
					</li>
					<li class="riinfocond">英语能力要求
						<ul>
							<li>TOEFL 105+</li>
							<li>雅思 7.0+</li>
						</ul>
					</li>
					<li class="riinfoflow">面试准备
						<ul>
							<li>自行录制3min左右英文自我介绍视频</li>
							<li>录制完成后进行英文文书能力测试</li>
						</ul>
					</li>
				</ul>
    		</div>
            <div class="col-md-4">
                <div class="login" id="card">
                	<div class="front signin_form"> 
                    <h3>Register your interest</h3>
                    <h5>Our staff will contact you soon!</h5>
                    <form class="login-form">
                          <div class="form-group">
                              <div class="input-group">
                                  <input type="email" class="form-control" placeholder="Type your email"/>
                                  <span class="input-group-addon">
                                      <i class="glyphicon glyphicon-envelope"></i>
                                  </span>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <input type="phone" class="form-control" placeholder="Type your phone"/>
                                  <span class="input-group-addon">
                                      <i class="glyphicon glyphicon-phone"></i>
                                  </span>
                              </div>
                          </div>
<!--                           <div class="checkbox">
                          <label><input type="checkbox"/>Remember me next time.</label>
                          </div> -->
                          
                          <div class="form-group sign-btn">
                              <input type="submit" class="btn" value="Become a mentor"/>
                          </div>
                     </form>
                    </div>
                </div>
            </div>
        </div>
        <img class="logoCenterImg" src="https://s3.eu-central-1.amazonaws.com/siyuanrainbow/img/com/white_logo.jpeg"/>
    </div>
</div>


</body>
</html>