<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RainbowEDU</title>
    <meta charset="UTF-8"/>
    <div th:fragment="aboutindex-css">
        <!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    	<!-- Optional theme -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    	<!-- Latest compiled and minified JavaScript -->
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/about/aboutindex.css}"
          href="../../css/about/aboutindex.css" />
    </div>
</head>
<body>

<div th:fragment="aboutindex" class="aboutindex">
	<br/>
	<div class="container">
		<div class="row row-block">
			<div class="col-md-4 img-panel">
				<span class="helper"></span>
				<img src="https://s3.eu-central-1.amazonaws.com/siyuanrainbow/img/com/green_logo.jpeg"/>
			</div>
			<div class="col-md-8 info-panel">
				<p class="intro" th:text="'思源瑞博（Rainbow Education Limited Company）是由清华大学、北京大学、上海交通大学、复旦大学等国内C9联盟高校的毕业生创办的一家留学服务机构。
				创立之初，思源瑞博创新性地推出“天涯-咫尺”项目，有效地整合了清北复交等国内各大名校校友的资源，把在海外名校求学、工作和生活的优秀毕业生汇聚到思源瑞博的平台，成立了“导师智库”。 从而，根据有出国留学深造计划的学弟学妹的专业背景、个人经历和职业规划，选定符合条件的导师，为客户提供更具有针对性地学业交流和经验分享，定制个性化的服务方案!
				经过多年的探索和发展，思源瑞博的认可度逐渐提升，智库资源不断壮大，服务流程进一步完善。同时，秉持着“饮水思源”的理念，思源瑞博把市场逐步推广到全国各地，让大江南北的莘莘学子也能享受到优质的留学资源，掌握最新的留学咨询，从而更好地规划自己的人生道路！
				思源瑞博，与留学征途中的您：风雨同行，终见彩虹（Rainbow）!'"/>
			</div>
		</div>
		<div class="row row-block">
			<img src="https://s3.eu-central-1.amazonaws.com/siyuanrainbow/img/com/office_map.jpg"/>
		</div>
	</div>
</div>


</body>
</html>